* {
    margin:  0;
    padding: 0;
    box-sizing: border-box;
}

.m-0-auto { margin: 0 auto; }

.m-pt-125-rem { margin: 0.125rem; }
.m-pt-250-rem { margin: 0.250rem; }
.m-pt-375-rem { margin: 0.375rem; }
.m-pt-500-rem { margin: 0.500rem; }

.m-1-rem { margin: 1rem; }
.m-2-rem { margin: 2rem; }
.m-3-rem { margin: 3rem; }
.m-4-rem { margin: 4rem; }
.m-5-rem { margin: 5rem; }

.p-pt-125-rem { padding: 0.125rem; }
.p-pt-250-rem { padding: 0.250rem; }
.p-pt-375-rem { padding: 0.375rem; }
.p-pt-500-rem { padding: 0.500rem; }

.p-1-rem { padding: 1rem; }
.p-2-rem { padding: 2rem; }
.p-3-rem { padding: 3rem; }
.p-4-rem { padding: 4rem; }
.p-5-rem { padding: 5rem; }

.w-10-pct   { width: 10%; }
.w-20-pct   { width: 20%; }
.w-30-pct   { width: 30%; }
.w-40-pct   { width: 40%; }
.w-50-pct   { width: 50%; }
.w-60-pct   { width: 60%; }
.w-70-pct   { width: 70%; }
.w-80-pct   { width: 80%; }
.w-90-pct   { width: 90%; }
.w-100-pct  { width: 100%; }
.w-25-pct   { width: 30%; }
.w-75-pct   { width: 40%; }

.w-1-rem    { width: 1rem; }
.w-2-rem    { width: 2rem; }
.w-3-rem    { width: 3rem; }
.w-4-rem    { width: 4rem; }
.w-5-rem    { width: 5rem; }
.w-6-rem    { width: 6rem; }
.w-7-rem    { width: 7rem; }
.w-8-rem    { width: 8rem; }
.w-9-rem    { width: 9rem; }
.w-10-rem   { width: 10rem; }

.h-10-pct   { height: 10%; }
.h-20-pct   { height: 20%; }
.h-30-pct   { height: 30%; }
.h-40-pct   { height: 40%; }
.h-50-pct   { height: 50%; }
.h-60-pct   { height: 60%; }
.h-70-pct   { height: 70%; }
.h-80-pct   { height: 80%; }
.h-90-pct   { height: 90%; }
.h-100-pct  { height: 100%; }
.h-25-pct   { height: 30%; }
.h-75-pct   { height: 40%; }

.h-1-rem    { height: 1rem; }
.h-2-rem    { height: 2rem; }
.h-3-rem    { height: 3rem; }
.h-4-rem    { height: 4rem; }
.h-5-rem    { height: 5rem; }
.h-6-rem    { height: 6rem; }
.h-7-rem    { height: 7rem; }
.h-8-rem    { height: 8rem; }
.h-9-rem    { height: 9rem; }
.h-10-rem   { height: 10rem; }

.container {
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.modal {
    display: none;
    position: fixed;
    top:  0;
    left: 0;
    z-index: 1;
    width:  100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    width:  100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.display-flex { display: flex; }

.flex-wrap { flex-wrap: wrap; }

.justify-content-left   { justify-content: left; }
.justify-content-right  { justify-content: right; }
.justify-content-center { justify-content: center; }
.justify-content-space-between { justify-content: space-between; }

.align-items-center { align-items: center; }

.text-align-center { text-align: center; }

.vertical-align-middle { vertical-align: middle; }

.text-white { color: white; }
.text-black { color: black; }

.bg-white   { background-color: white; }
.bg-black   { background-color: black; }
.bg-red     { background-color: red; }
.bg-green   { background-color: green; }
.bg-blue    { background-color: blue; }

.font-size-large    { font-size: large; }
.font-size-x-large  { font-size: x-large; }
.font-size-xx-large { font-size: xx-large; }

.font-weight-bold   { font-weight: bold; }

.strike-through { text-decoration: line-through; }

.hidden { display: none; }